<!DOCTYPE html>
<html lang="en">
<head>
				<meta charset="UTF-8">
				<title>Page title</title>
				<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</head>


<body>
	<header id="title">
		<p id="clock"></p>
		<h1>message.io</h1>
		
	</header>
	<div id="messageform">
		<form action='/test/' method='post'>
		<label for="username">Username:</label>
		<input type="text" id="username">
		<label for="password">Password:</label>
		<input type="password" id="password">
		<input type="submit">
		</form>
	</div>
	<div id="messageboard">
	</div>
</body>
<script>
				var test = setInterval(clock,1000);
				
				function clock() {
				d = new Date();
				t = d.toLocaleTimeString();
				document.getElementById("clock").innerHTML = t;
				}
				
</script>

</html>